{% extends 'base.html' %}
{% load static %}
{% block title %}Удаление сменного задания{% endblock %}

{% block content %}
<h2>Вы действительно хотите удалить это сменное задание?</h2>
<p><strong>Операция:</strong> {{ object.operation_name }}</p>
<p><strong>Дата:</strong> {{ object.date }}</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Да, удалить</button>
    <a href="{% url 'users:user_profile' request.user.pk %}" class="btn btn-secondary">Нет, отменить</a>
</form>
{% endblock %}
<!-- Подключаем CSS файл -->
<link rel='stylesheet' href='{% static 'process_history/css/styles.css' %}' type='text/css'>

<!-- Подключаем JS файл -->
<script src='{% static 'process_history/js/scripts.js' %}'></script>