<!-- shift_assignment/shift_assignment_list.html -->
{% extends 'base.html' %}

{% block title %}Список сменных заданий{% endblock %}
<table>
    <thead>
        <tr>
            <th>Название задания</th>
            <th>Дата создания</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for assignment in assignments %}
        <tr>
            <td>{{ assignment.title }}</td>
            <td>{{ assignment.created_at }}</td>
            <td><a href="{% url 'create_process_history' assignment.id %}">Просмотреть</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}