{% extends 'base.html' %}

{% block title %}Детали сменного задания{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{{ assignment.title }}</h1>
    <p><strong>Дата:</strong> {{ assignment.date }}</p>
    <p><strong>Описание:</strong> {{ assignment.description }}</p>
    <p><strong>Оператор:</strong> {{ assignment.operator.username }}</p>

    <!-- Кнопка возврата к списку -->
    <a href="{% url 'shift_assignment:list' %}" class="btn btn-secondary">Назад к списку</a>
</div>
{% endblock %}