{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2>Редактирование сменного задания</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{% url 'users:user_profile' object.operator.pk %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
<!-- Подключаем CSS файл -->
<link rel='stylesheet' href='{% static ' process_history/css/styles.css' %}' type='text/css'>

<!-- Подключаем JS файл -->
<script src='{% static ' process_history/js/scripts.js' %}'></script>
