{% extends 'base.html' %}

{% block title %}Удаление сменного задания{% endblock %}

{% block content %}
<h2>Вы действительно хотите удалить это сменное задание?</h2>
<p><strong>Операция:</strong> {{ object.operation_name }}</p>
<p><strong>Дата:</strong> {{ object.date }}</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Да, удалить</button>
    <a href="{% url 'users:user_profile' request.user.pk %}" class="btn btn-secondary">Нет, отменить</a>
</form>
{% endblock %}
