{% extends 'base.html' %}

{% block title %}Детали сменного задания{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{{ assignment.title }}</h1>
    <p><strong>Дата:</strong> {{ assignment.date }}</p>
    <h3>Описание:</h3>
    <p><strong>Имя оператора:</strong> {{ assignment.operator.username }}</p>
    <p><strong>Название операции:</strong> {{ assignment.operation_name }}</p>
    <p><strong>Номер станка:</strong> {{ assignment.machine_id}}</p>
    <p><strong>Наименование детали:</strong> {{ assignment.part_id }}</p>
    <p><strong>Номер партии:</strong> {{ assignment.batch_number }}</p>
    <p><strong>Количество:</strong> {{ assignment.quantity }}</p>

    <a href="{% url 'process_history:history_process_create' assignment.id %}" class="btn btn-success">Выполнить задание</a>
</div>
{% endblock %}