<!-- shift_assignment/shift_assignment_list.html -->
{% extends 'base.html' %}

{% block title %}Список сменных заданий{% endblock %}

{% block content %}
<h1>Список сменных заданий</h1>

<ul>
    {% for assignment in shift_assignments %}
        <li>
            <a href="{% url 'shift_assignment:shift_assignment_detail' assignment.pk %}">{{ assignment.title }}</a> - {{ assignment.date }}
        </li>
    {% empty %}
        <li>Нет созданных сменных заданий.</li>
    {% endfor %}
</ul>

<a href="{% url 'shift_assignment:create_shift' %}" class="btn btn-primary">Создать новое задание</a>
{% endblock %}