/* styles.css */
.table {
    margin-top: 20px; /* Отступ сверху для таблицы */
}

.radio-label {
    margin-right: 15px; /* Отступ между радиокнопками */
}

h1 {
    color: #333; /* Цвет заголовка */
}

h2 {
    color: #555; /* Цвет подзаголовка */
}
