{% extends 'base.html' %}
{% load static %}
{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <a href="{% url 'users:update_user' user.pk %}" class="btn btn-secondary mb-3">Редактировать профиль</a>

    {% if can_create_shift %}
    <br>
    <a href="{% url 'shift_assignment:upload_shift_assignment' %}" class="btn btn-primary mb-3">Создать сменное
        задание</a>
    {% endif %}

    <h3 class="text-primary">Сменные задания:</h3>
    <div class="row">
        {% for assignment in shift_assignments %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">

                    <p><strong>Дата:</strong> {{ assignment.date }}</p>
                    <p><strong>Оператор:</strong> {{ assignment.operator.username }}</p>
                    <p><strong>Номер станка:</strong> {{ assignment.machine_id }}</p>
                    <p><strong>Наименование детали:</strong> {{ assignment.part_id }}</p>
                    <p><strong>Номер партии:</strong> {{ assignment.batch_number }}</p>
                    <p><strong>Количество:</strong> {{ assignment.quantity }}</p>

                    {% if is_admin or is_master %}
                    <a href="{% url 'shift_assignment:update_shift' assignment.id %}" class="btn btn-warning">Редактировать</a>
                    <form action="{% url 'shift_assignment:delete_shift' assignment.id %}" method="post"
                          style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                    {% else %}
                    <a href="{% url 'shift_assignment:shift_assignment_detail' assignment.id %}" class="btn btn-info">Подробнее</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <p>Нет активных сменных заданий.</p>
        {% endfor %}
    </div>
    <h3 class="text-success">Выполненные сменные задания:</h3>
    <div class="row">
        {% for completed in completed_assignments %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ completed.operation_name }}</h5>
                    <p class="card-text"><strong>Оператор:</strong> {{ completed.operator.username }}</p>
                    <p class="card-text"><strong>Номер станка:</strong> {{ completed.machine_id }}</p>
                    <p class="card-text"><strong>Наименование детали:</strong> {{ completed.part_id }}</p>
                    <p class="card-text"><strong>Номер партии:</strong> {{ completed.batch_number }}</p>
                    <p class="card-text"><strong>Количество:</strong> {{ completed.quantity }}</p>
                    <p class="card-text"><strong>Количество брака:</strong> {{ completed.defect_quantity }}</p>
                    <p class="card-text"><strong>Причина остановки:</strong> {{ completed.stop_reason }}</p>

                    <!-- Кнопка редактирования для завершенных заданий -->
                    <a href="{% url 'shift_assignment:completed_shift_assignment_update' completed.id %}"
                       class="btn btn-warning">Редактировать</a>

                    <!-- Условие для отображения кнопки удаления -->
                    {% if is_admin or is_master %}
                    <form action="{% url 'shift_assignment:delete_completed_shift' completed.id %}" method="post"
                          style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>

                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <p>Нет выполненных заданий.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
<!-- Подключаем CSS файл -->
<link rel='stylesheet' href='{% static ' process_history
/css/styles.css' %}' type='text/css'>

<!-- Подключаем JS файл -->
<script src='{% static ' process_history
/js/scripts.js' %}'></script>

