<!-- templates/process_history/history_process_create.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание истории процесса</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load widget_tweaks %}  <!-- Загрузка фильтров -->
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center">Создание истории процесса</h1>

    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Ошибка!</strong> Пожалуйста, исправьте ошибки в форме.
        </div>
    {% endif %}

    <form method="POST" action="{% url 'process_history:history_process_create' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.process_name.id_for_label }}">{{ form.process_name.label }}</label>
            {{ form.process_name|add_class:"form-control" }}  <!-- Использование фильтра -->
            {% for error in form.process_name.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Добавьте другие поля формы аналогично -->

        <!-- Кнопка "Сохранить" -->
        <button type="submit" class="btn btn-success btn-block">Сохранить</button>
    </form>

</div>

<!-- Подключение JavaScript для Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>