{% extends "base.html" %}
{% load static %}  <!-- Загружаем тег статических файлов -->

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h1 style="margin-top: 40px; margin-bottom: 20px;">История процесса</h1>
    <a href="{% url 'process_history:save_process_history' assignment_id %}" class="btn btn-primary" style="margin-top: 40px;">Завершить историю процесса</a>
</div>

<form id="parameterForm">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th><strong>username:</strong></th>
                <th><strong>Название операции:</strong></th>
                <th><strong>Номер станка:</strong></th>
                <th><strong>Наименование детали:</strong></th>
                <th><strong>Номер партии:</strong></th>
            </tr>
            <tr>
                <td>{{ operator }}</td>
                <td>{{ operation_name }}</td>
                <td>{{ machine_id }}</td>
                <td>{{ part_id }}</td>
                <td>{{ batch_number }}</td>
            </tr>
        </thead>
    </table>
    <br>

    <!-- Карточка для параметров детали -->
    <div class="card" style="margin-top: 20px; width: calc(100% - 40px); margin-left: 20px; margin-right: 20px; border-width: 2px; border-color: #007bff; border-style: solid;">
        <div class="card-header">
            <h2>Параметры детали:</h2>
        </div>
        <div class="card-body">
            <div style="display: flex; justify-content: space-between;">
                <!-- Первый столбик -->
                <div style="flex: 1; margin-right: 10px;">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Шероховатость:</td>
                                <td>
                                    <label><input type="radio" name="roughness" value="yes" checked /> +</label>
                                    <label><input type="radio" name="roughness" value="no" /> -</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Специальная характеристика:</td>
                                <td><input type="number" id="specialCharacteristic" name="special_characteristic"
                                           min="21.95" max="22" step="0.001" placeholder="от 21,95 до 22"
                                           required style="width: 150px;" /></td> <!-- Уменьшена ширина -->
                            </tr>
                            <tr>
                                <td>Внешний вид:</td>
                                <td>
                                    <label><input type="radio" name="appearance" value="yes" checked /> +</label>
                                    <label><input type="radio" name="appearance" value="no" /> -</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Наличие резьбы и отверстия под шплинт:</td>
                                <td>
                                    <label><input type="radio" name="thread_hole" value="yes" checked /> +</label>
                                    <label><input type="radio" name="thread_hole" value="no" /> -</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Размер галтели:</td>
                                <td>
                                    <label><input type="radio" name="galtel_size" value="yes" checked /> +</label>
                                    <label><input type="radio" name="galtel_size" value="no" /> -</label>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>

                <!-- Второй столбик -->
                <div style="flex: 1; margin-left: 10px;">
                    <table class="table">
                        <tbody>

                            <!-- Поле для количества деталей -->
                            <tr>
                                <td>Количество деталей:</td>
                                <td><input type="number" id="quantity" name="detail_quantity" placeholder="Введите количество" value="1" style="width: 80px;" /></td> <!-- Уменьшена ширина -->
                            </tr>

                            <!-- Поле для кода контроля -->
                            <tr>
                                <td>Код контроля:</td>
                                <td><select id="controlCode">
                                        <!-- Значения кода контроля -->
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <!-- Дополнительное значение -->
                                        <option value="3;2">3;2</option>
                                    </select></td>
                            </tr>

                            <!-- Поле для маркировки да/нет -->
                            <tr>
                                <td>Маркировка да/нет:</td>
                                <td>
                                    <label><input type="radio" name="mark_yes_no" value="yes" checked /> Да</label>
                                    <label><input type="radio" name="mark_yes_no" value="no" /> Нет</label>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <!-- Кнопка для добавления нового замера -->
                    <!-- Используем класс btn-new для стилизации -->
                    <!-- Добавляем отступ справа для перемещения кнопки вправо -->
                    <button type="button" id="addMeasurementButton"
                        class='btn-new'
                        style="
                        width: 200px; /* Ширина кнопки */
                        height: 70px; /* Высота кнопки */
                        font-size: 24px;
                        cursor: pointer;
                        margin-left: 30px;">Новый замер</button>

                </div>

            </div>

        </div>

    </div>

</form>

<h2 style="margin-top: 40px;">Таблица параметров</h2>

<table class="table">
    <thead>
        <tr>
            <th>Количество шт.</th><!-- Изменено на "+" -->
            <th>Шероховатость</th><!-- Изменено на "+" -->
            <th>Спец. характеристика</th><!-- Изменено на "+" -->
            <th>Внешний вид</th><!-- Изменено на "+" -->
            <th>Резьба и отверстие под шплинт</th><!-- Изменено на "+" -->
            <th>Размер галтели</th><!-- Изменено на "+" -->
            <th>Код контроля</th><!-- Добавлено поле Код контроля -->
            <th>Маркировка да/нет</th><!-- Добавлено поле Маркировка да/нет -->
        </tr>
    </thead>
    <tbody id="parametersTableBody">
        <!-- Записи будут добавляться сюда -->
    </tbody>
</table>

{% endblock %}

<!-- Подключаем CSS файл -->
<link rel='stylesheet' href='{% static 'process_history/css/styles.css' %}' type='text/css'>

<!-- Подключаем JS файл -->
<script src='{% static 'process_history/js/scripts.js' %}'></script>




