{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h1 style="margin-top: 40px; margin-bottom: 20px;">История процесса</h1>
    <a href="{% url 'shift_assignment:completed_shift_assignment' shift_assignment.id %}" class="btn btn-primary"
       style="margin-top: 40px;">Закончить сменное задание</a>
</div>


<form id="parameterForm">
    {% csrf_token %}
    <table class="table">
        <thead>
        <tr>
            <th><strong>username:</strong></th>
            <th><strong>Название операции:</strong></th>
            <th><strong>Номер станка:</strong></th>
            <th><strong>Наименование детали:</strong></th>
            <th><strong>Номер партии:</strong></th>
        </tr>
        <tr>
            <td>{{ operator }}</td>
            <td>{{ operation_name }}</td>
            <td>{{ machine_id }}</td>
            <td>{{ part_id }}</td>
            <td>{{ batch_number }}</td>
        </tr>
        </thead>
    </table>
    <br>

    <!-- Карточка для параметров детали -->
    <div class="card" style="margin: 20px 0; width: 100%; border-width: 2px; border-color: #808080; border-style: solid;
     overflow: hidden;">
        <div class="card-header">
            <h2>Параметры детали:</h2>
        </div>
        <div class="card-body" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
            <!-- Первый столбик -->
            <div style="flex: 1; margin-right: 10px; max-width: 48%;">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Шероховатость:</td>
                        <td class="form_toggle">
                            <div class="form_toggle-item item-1">
                                <input type="radio" name="roughness" value="+" id="roughness_yes" checked/>
                                <label for="roughness_yes">+</label>
                            </div>
                            <div class="form_toggle-item item-2">
                                <input type="radio" name="roughness" value="-" id="roughness_no"/>
                                <label for="roughness_no">-</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Специальная характеристика:</td>
                        <td style="padding: 5px;">
                            <input type="number" id="specialCharacteristic" name="value"
                                   min="21.95" max="22" step="0.001" placeholder="от 21.95 до 22"
                                   required style="width: 150px; -moz-appearance: textfield; /* Для Firefox */
               -webkit-appearance: none; /* Для Chrome, Safari и Opera */
               appearance: none; /* Для других браузеров */
               "/>
                        </td>
                    </tr>

                    <script>
                        document.getElementById('specialCharacteristic').addEventListener('blur', function() {
                            const value = parseFloat(this.value);
                            const min = 21.95;
                            const max = 22;

                            // Проверяем только если значение не пустое
                            if (!isNaN(value)) {
                                if (value < min || value > max) {
                                    // Если значение вне диапазона, показываем предупреждение
                                    alert(`Пожалуйста, введите значение в диапазоне от ${min} до ${max}.`);
                                    this.value = ''; // Очищаем поле
                                }
                            }
                        });
                    </script>
                    <tr>
                        <td>Внешний вид:</td>
                        <td class="form_toggle">
                            <div class="form_toggle-item item-1">
                                <input type="radio" name="appearance" value="+" id="appearance_yes" checked/>
                                <label for="appearance_yes">+</label>
                            </div>
                            <div class="form_toggle-item item-2">
                                <input type="radio" name="appearance" value="-" id="appearance_no"/>
                                <label for="appearance_no">-</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Наличие резьбы и отверстия под шплинт:</td>
                        <td class="form_toggle">
                            <div class="form_toggle-item item-1">
                                <input type="radio" name="thread_hole" value="+" id="thread_hole_yes" checked/>
                                <label for="thread_hole_yes">+</label>
                            </div>
                            <div class="form_toggle-item item-2">
                                <input type="radio" name="thread_hole" value="-" id="thread_hole_no"/>
                                <label for="thread_hole_no">-</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Размер галтели:</td>
                        <td class="form_toggle">
                            <div class="form_toggle-item item-1">
                                <input type="radio" name="galtel_size" value="+" id="galtel_size_yes" checked/>
                                <label for="galtel_size_yes">+</label>
                            </div>
                            <div class="form_toggle-item item-2">
                                <input type="radio" name="galtel_size" value="-" id="galtel_size_no"/>
                                <label for="galtel_size_no">-</label>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>

            <!-- Второй столбик -->
            <div style="flex: 1; margin-left: 10px; max-width: 48%;">
                <table class="table">
                    <tbody>

                    <!-- Поле для количества деталей -->
                    <tr>
                        <td>Количество деталей:</td>
                        <td><input type="number" id="quantity" name="detail_quantity"
                                   placeholder="Введите количество" value="1"
                                   style="width: 80px;"/></td>
                    </tr>

                    <!-- Поле для кода контроля -->
                    <tr>
                        <td>Код контроля:</td>
                        <td><select id="controlCode">
                            <option value='1'>1</option>
                            <option value='2'>2</option>
                            <option value='3'>3</option>
                            <option value='4'>4</option>
                            <option value='5'>5</option>
                            <option value='6'>6</option>
                            <option value='3;2'>3;2</option>
                        </select></td>
                    </tr>

                    <!-- Поле для маркировки да/нет -->
                    <tr>
                        <td>Маркировка да/нет:</td>
                        <td class='form_toggle'>
                            <div class='form_toggle-item item-1'>
                                <input type='radio' name='mark_yes_no' value='Да' id='mark_yes' checked/>
                                <label for='mark_no' class='label-no'>Да</label> <!-- Зеленый цвет -->
                            </div>
                            <div class='form_toggle-item item-2'>
                                <input type='radio' name='mark_yes_no' value='Нет' id='mark_no'/>
                                <label for='mark_yes' class='label-yes'>Нет</label> <!-- Красный цвет -->
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div style="display: flex; align-items: flex-start;">
                    <button type='button' id='addMeasurementButton'
                            class='btn-new'
                            style="
                width: 160px; /* Ширина кнопки */
                height: 55px; /* Высота кнопки */
                font-size: 20px; /* Увеличенный размер шрифта */
                padding: 5px 10px; /* Уменьшенные отступы (верх/низ, лево/право) */
                cursor: pointer;
                margin-right: 25px;">
                        Новый замер
                    </button>
                    <p style="font-size: 10px; margin: 0;"> Коды контроля:<br>
                        1-корректировка параметров<br>
                        2-запуск, замер первых деталей<br>
                        3-замена инструмента/оснастки<br>
                        4-корректировка параметров<br>
                        5-ремонт оборудования<br>
                        6-контроль последней детали
                    </p>
                </div>
            </div>

        </div>

    </div>


    <h2 style="margin: 40px auto 0; text-align: center;">Таблица параметров</h2>

    <table class="table" style="margin-left: 20px; margin-right: 20px;"> <!-- Добавлены отступы -->
        <thead>
        <tr>
            <th>Колич.</th>
            <th>Шерох.</th>
            <th>Спец. харак.</th>
            <th>Внеш. вид</th>
            <th>Резьб./отверст.</th>
            <th>Галтель</th>
            <th>Код</th>
            <th>Да/Нет</th>
        </tr>
        </thead>
        <tbody id="parametersTableBody">
        <!-- Записи будут добавляться сюда -->
        </tbody>
    </table>
</form>
{% endblock %}

<!-- Подключаем CSS файл -->
<link rel='stylesheet' href='{% static ' process_history/css/styles.css' %}' type='text/css'>

<!-- Подключаем JS файл -->
<script src='{% static ' process_history/js/scripts.js' %}'></script>
