{% extends "base.html" %}  <!-- Наследование от базового шаблона -->

{% block title %}Главная страница{% endblock %}  <!-- Переопределение заголовка страницы -->

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Добро пожаловать на главную страницу!</h2>
    <div class="mt-5">
        <p class="text-center">В этом приложении Вы можете управлять своими сменными заданиями и просматривать историю процессов.<br>
        Пожалуйста авторизуйтесь, для начала работы</p>
    </div>

</div>
{% endblock %}