{% extends "base.html" %}  <!-- Наследование от базового шаблона -->

{% block title %}Главная страница{% endblock %}  <!-- Переопределение заголовка страницы -->

{% block content %}
<div class="text-center">
    <h2>Добро пожаловать на главную страницу!</h2>
    <p>В этом приложении вы можете эффективно управлять своими сменными заданиями и отслеживать историю процессов.</p>
    <p>Пожалуйста, авторизуйтесь, чтобы начать работу и получить доступ ко всем функциям приложения.</p>
    <p>Мы рады видеть вас здесь!</p>
</div>

{% endblock %}