{% extends "base.html" %}  <!-- Наследование от базового шаблона -->

{% block title %}Главная страница{% endblock %}  <!-- Переопределение заголовка страницы -->

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Добро пожаловать на главную страницу!</h2>
    <div class="mt-5">
        <p class="text-center">Здесь вы можете управлять своими сменными заданиями и просматривать историю процессов.<br>
        Нажмите "Перейти к сменным заданиям", для начала работы</p>
    </div>

    <!-- Ссылка на страницу сменных заданий -->
    <div class="text-center mt-4">
        <a href="{% url 'process_history:shift_assignment' %}" class="btn btn-primary">Перейти к сменным заданиям</a>
    </div>



</div>
{% endblock %}