{% extends "base.html" %}  <!-- Наследование от базового шаблона -->

{% block title %}Заполнение истории процесса{% endblock %}  <!-- Переопределение заголовка страницы -->

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Заполнение истории процесса</h1>

    <form method="POST" action="{% url 'process_history:save_process_history' task_id=task.id %}">
        {% csrf_token %}
        <table class="table table-bordered mt-4">
            <thead class="thead-light">
                <tr>
                    <th>Код контроля</th>
                    <th>Отметка (Да/Нет)</th>
                    <th>Количество деталей</th>
                    <th>Параметры</th>
                </tr>
            </thead>
            <tbody id="process-table-body">
                {% for parameter in parameters %}
                <tr>
                    <td><input type="text" name="control_code_{{ forloop.counter }}" class="form-control" required></td>
                    <td>
                        <select name="mark_{{ forloop.counter }}" class="form-control">
                            <option value="yes">Да</option>
                            <option value="no">Нет</option>
                        </select>
                    </td>
                    <td><input type="number" name="quantity_{{ forloop.counter }}" min="0" class="form-control" required></td>
                    <td><input type="checkbox" name="param_count_{{ forloop.counter }}" value="+"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Кнопка "Сохранить" -->
        <button type="submit" class="btn btn-success btn-block">Сохранить</button>
    </form>

</div>
{% endblock %}