<form method="POST" action="{% url 'process_history:save_process_history' %}">
    {% csrf_token %}
    <table class="table table-bordered mt-4">
        <thead class="thead-light">
            <tr>
                <th>Код контроля</th>
                <th>Отметка (Да/Нет)</th>
                <th>Количество деталей</th>
                <th>Параметры</th>
            </tr>
        </thead>
        <tbody>
            <!-- Ваши поля формы -->
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>